button {
    color: #2B283A;
    font-size: 1.287rem;
    font-weight: 700;
    font-family: var(--karla-font);
    box-shadow: 0 0.219rem 0.219rem 0 #00000026;
    align-self: center;
    width: 2.24rem;
    height: 2.24rem;
    border-style: none;
}


button.matched {
    background-color: #59E391;
}



