.tenzies-background {
  width: 22.5rem;
  height: 23.688rem;
  background-color: var(--ink);
  display: flex;
  justify-content: center;
  align-items: center;
}

.tenzies-background-canvas {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 20rem;
  height: 20rem;
  background-color: var(--bg);
  border-radius: 0.625rem;
}

/* ---- DIE CONTAINER ---- */
.dice-grid {
  display: grid;
  grid-auto-flow: column;
  grid-template-areas:
  "die die die die die"
  "die die die die die";
  row-gap: 1.12rem;
  column-gap: 1.16rem;
  padding-left: 2.16rem;
  padding-right: 2.16rem;
  padding-bottom: 2.12rem;
}

.roll-btn {
  width: 5.76rem;
  height: 2.24rem;
  border-radius: 0.238rem;
  color: #FFFFFF;
  background-color: #5035FF;
}