.tenzies-background {
  width: 22.5rem;
  height: 23.688rem;
  background-color: var(--ink);
  display: flex;
  justify-content: center;
  align-items: center;
}

.tenzies-background-canvas {
  width: 20rem;
  height: 20rem;
  background-color: var(--bg);

}